<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Login page</h1>
    	<div th:if="${#httpServletRequest.remoteUser != null}">
		    <p th:text="${#httpServletRequest.remoteUser}">
		      sample_user
		    </p>
		    <form action="#" th:action="@{/logout}" method="post">					
                <input type="submit" value="Logout" />
            </form>
		</div>
        <div th:if="${param.error}" class="alert alert-error">    
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success"> 
            You have been logged out.
        </div>
        <form th:action="@{/users/login}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="Log in" />
            <a href="/users/registration" th:href="@{/users/registration}">registration</a>
        </form>
        <!--p<a href="/index" th:href="@{/index}">Back to home page</a></p-->
    </body>
</html>