<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Index</h1>
        <div th:if="${#httpServletRequest.remoteUser != null}">
		    <p th:text="${#httpServletRequest.remoteUser}">
		      sample_user
		    </p>
		</div>
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">		
            Logged in user: <span sec:authentication="name"></span> |					
            Roles: <span sec:authentication="principal.authorities"></span>				
            <div>
                <form action="#" th:action="@{/logout}" method="post">					
                    <input type="submit" value="Logout" />
                </form>
            </div>
        </div>
        Go to the <a href="/user/login" th:href="@{/user/login}">login page</a><br />
        Go to the <a href="/user/registration" th:href="@{/user/registration}">registration page</a>
    </body>
</html>